* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #0c0c0c;
  --secondary-color: #084a48;
  --sub-secondary-color: #1cb5af;
  --bg-color: #eae9e9;
}

/* Custom Button CSS is here  */
.button{
  border: none;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
  border-radius: 12px;
  
}

/* Nav Bar CSS starts--------------------------------------- */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: var(--secondary-color);
  background-color: var(--bg-color);
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-bar > img {
  width: 90px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  gap: 60px;
  list-style-type: none;
  position: absolute;
  padding: 6px 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0px 0px 8px 1px var(--sub-secondary-color);
  color: var(--secondary-color);
}

.nav-contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

/* Hero container CSS starts----------------------------------------- */
.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 44px 40px;
  background-color: var(--bg-color);
}

.hero-text {
  flex: 1;
}

.hero-heading {
  font-size: 52px;
  font-weight: 600;
  color: var(--primary-color);
}

.hero-designation {
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 24px 0px;
  color: var(--sub-secondary-color);
}

.hero-sub-heading {
  font-size: 20px;
  color: var(--secondary-color);
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.hero-img > img {
  border-radius: 12px;
  box-shadow: 0px 0px 8px 2px var(--sub-secondary-color);
}

.hero-achivements {
  display: flex;
  background-color: var(--primary-color);
}

.hero-achivement {
  flex: 1;
  padding: 16px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 450;
  color: var(--sub-secondary-color);
}

/* About section starts here---------------------------------------- */

.about{
  padding: 60px 40px;
  background-color: var(--bg-color);
}

.about-heading{
  font-size: 36px;
  font-weight: 500;
  color: var(--primary-color);
  text-align: center;
  padding: 12px 0px;
}

.underline-div{
  margin: 20px 0px;
  border: 1px solid var(--sub-secondary-color);
}

.about-para{
  font-size: 18px;
  font-weight: 350;
  color: var(--secondary-color);
  padding: 8px 0px;
  width: 85%;
  text-align: justify;
  margin: 0 auto;
}

.to-highlight{
  font-weight: 500;
}

.about-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 24px 0px;
}